<!-- contract-detail-tab.component.html -->

<div class="contract-detail-wrapper">
  <!-- Sub-Tab Navigation -->
  <div class="sub-tab-navigation">
    <button
      *ngFor="let subTab of subTabs; let i = index"
      class="sub-tab-btn"
      [class.active]="activeSubTabIndex() === i"
      (click)="switchSubTab(i)"
    >
      {{ subTab.label }}
    </button>
  </div>

  <!-- Sub-tabs: [hidden] so form stays in DOM when switching -->
  <div class="sub-tab-content">
    <div [hidden]="activeSubTabIndex() !== 0">
      <app-contract-info-tab #contractInfoTab />
    </div>
    <div [hidden]="activeSubTabIndex() !== 1">
      <app-revenue-tab />
    </div>
    <div [hidden]="activeSubTabIndex() !== 2">
      <app-insurance-tab />
    </div>
    <div [hidden]="activeSubTabIndex() !== 3">
      <app-decoration-tab />
    </div>
  </div>
</div>
