<div class="floor-selector-container">
  <button
    type="button"
    class="arrow-button"
    (click)="goToPreviousFloor()"
    [disabled]="!canGoDown()"
    title="Previous Floor"
  >
    <i class="pi pi-chevron-down"></i>
  </button>

  <p-select
    [options]="floorOptions()"
    [ngModel]="selectedFloorId()"
    (ngModelChange)="onFloorSelect($event)"
    optionLabel="label"
    optionValue="value"
    placeholder="Select Floor"
    [styleClass]="'floor-dropdown'"
  />

  <button
    type="button"
    class="arrow-button"
    (click)="goToNextFloor()"
    [disabled]="!canGoUp()"
    title="Next Floor"
  >
    <i class="pi pi-chevron-up"></i>
  </button>
</div>
